{
  "global_parameters": [
    {"name": "cluster_name", "value": "brightmoney-rabbit"}
  ],
  "permissions": [
    {
      "configure": ".*",
      "read": ".*",
      "user": "bright_admin",
      "vhost": "/",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "backend_master_user",
      "vhost": "backend_master",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "exp_user",
      "vhost": "experimentation",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "asset_manager_user",
      "vhost": "asset_manager",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "transunion_user",
      "vhost": "transunion",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "credit_user",
      "vhost": "credit",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "payments_user",
      "vhost": "payments",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "payments_recon_user",
      "vhost": "payments_recon",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "value_engine_user",
      "vhost": "value_engine",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "apfm_user",
      "vhost": "apfm",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "ems_user",
      "vhost": "ems",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "firestore_user",
      "vhost": "firestore",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "webhook_gateway_user",
      "vhost": "webhook_gateway",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "equifax_user",
      "vhost": "equifax",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "dashboard_user",
      "vhost": "dashboard",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "airflow_user",
      "vhost": "airflow",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "savings_wrapper_user",
      "vhost": "savings_wrapper",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "uaa_core_user",
      "vhost": "uaa_core",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "backend_master_user",
      "vhost": "backend_master",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "plaid_user",
      "vhost": "plaid",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "fiserv_user",
      "vhost": "fiserv",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "finicity_user",
      "vhost": "finicity",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "submission_service_user",
      "vhost": "submission_service",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "allocation_service_user",
      "vhost": "allocation_service",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "collection_service_user",
      "vhost": "collection_service",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "goal_service_user",
      "vhost": "goal_service",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "plan_core_user",
      "vhost": "plan_core",
      "write": ".*"
    },
    {
      "configure": ".*",
      "read": ".*",
      "user": "plan_executor_user",
      "vhost": "plan_executor",
      "write": ".*"
    }
  ],
  "policies": [
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "/"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "backend_master"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "experimentation"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "asset_manager"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "transunion"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "credit"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "payments"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "payments_recon"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "value_engine"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "apfm"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "ems"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "firestore"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "webhook_gateway"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "equifax"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "dashboard"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "airflow"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "savings_wrapper"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "uaa_core"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "plaid"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "fiserv"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "finicity"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "submission_service"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "allocation_service"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "collection_service"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "goal_service"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "plan_core"
    },
    {
      "apply-to": "queues",
      "definition": {"ha-mode": "all"},
      "name": "ha-all",
      "pattern": ".*",
      "priority": 0,
      "vhost": "plan_executor"
    }
  ],
  "vhosts": [{"name": "/"}]
}