- type: log
  processors:
    - dissect:
        tokenizer: "[%{?u} %{?v}] [LEVEL]: %{log_level}, [LOG_TYPE]: %{log_type}, [FILE_PATH]: %{file_path}, [LINE]: %{line_no}, [FUNC]: %{function_name}, [MSG]: %{extracted_message}"
        field: "message"
        target_prefix: ""
    - drop_fields:
        fields: ["message"]
    - rename:
        fields:
          - from: extracted_message
            to: message
        fail_on_error: false
        ignore_missing: true
    - drop_fields:
        fields: ["extracted_message"]
  enabled: true
  multiline.pattern: '^\['
  multiline.negate: true
  multiline.match: after
  paths:
    - "{{ gunicorn_logs_path }}"
  include_lines: ['\[LOG_TYPE\]: app']