- type: log
  processors:
    - dissect:
        tokenizer: "%{referrer} - - [%{requested_at}] \"%{request_method} %{request_path} %{http_version}\" %{response_status} %{other}"
        field: "message"
        target_prefix: ""
    - add_fields:
        target: ""
        fields:
          log_type: "nginx-access"
  enabled: true
  paths:
    - "{{ nginx_access_logs_path }}"
